
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-list"></i> Member List &nbsp;<span class="badge">{{list.length}}</span></h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <form (submit)="addMember()" #memberForm="ngForm">

                    <!--<span [hidden]="member.email.valid" class="badge badge-warning">Required</span>-->
                    <div class="form-inline">
                        <label for="member">Email</label>
                        <input required [(ngModel)]="member.email" id="member" name="memberName" type="text" class="form-control" size="50">
                    </div>
                    <div>
                        <label for="fn">First Name</label>
                        <input required [(ngModel)]="member.firstName" id="fn" name="firstName" type="text" class="form-control" size="50">
                        <label for="ln">Last Name</label>
                        <input required [(ngModel)]="member.lastName" id="ln" name="lastName" type="text" class="form-control" size="50">
                    </div>
                    <div>
                        <label for="addr">Address</label>
                        <input required [(ngModel)]="member.address" id="addr" name="address" type="text" class="form-control" size="50">
                        <label for="city">City</label>
                        <input required [(ngModel)]="member.city" id="city" name="city" type="text" class="form-control" size="50">
                        <label for="state">State</label>
                        <input required [(ngModel)]="member.state" id="state" name="state" type="text" class="form-control" size="50">
                        <label for="zip">Zip</label>
                        <input required [(ngModel)]="member.zip" id="zip" name="zip" type="text" class="form-control" size="50">
                    </div>
                    <div>
                        <label for="ph">Phone</label>
                        <input required [(ngModel)]="member.phone" id="ph" name="phone" type="text" class="form-control" size="50">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                    <label><input type="checkbox" [(ngModel)]="showCompleted" name="memberCompleted"> show completed</label>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="itemtable">
                <tr>
                    <th>first name</th>
                    <th>last name</th>
                    <th>active</th>
                    <th class="makeroom">  </th>
                    <th>add</th>
                    <th>remove</th>
                    <th>payments</th>

                </tr>
                <tr  *ngFor="let al of memberlist" [class.itemselected]="item === selectedItem" (click)="onUsingTable(al)">

                    <td> {{al.firstName}} </td>
                    <td> {{al.lastName}} </td>
                    <label><input type="checkbox" [(ngModel)]="al.active" name="memberDone"> {{al.isActive()}} {{al.active}} </label>
                    <td class="makeroom">  </td>
                    <td class="price"><button id="new" class="btn">New</button></td>
                    <td class="price"><button id="remove" class="btn">Remove</button></td>
                    <td class="price"><button id="payments" class="btn">Payments</button></td>
                </tr>
            </table>
            <!--<ul class="list-group">
                <li *ngFor="let member of memberlist; let i=index" class="list-group-item">
                <span title="Remove member" class="badge" (click)="delMember(i) ">x</span>
                <label><input type="checkbox" [(ngModel)]="member.completed" name="memberDone"> {{member.email}}</label>
                </li>
            </ul>-->
        </div>
    </div>
  </div>
</div>
